body {
  font-family: Arial, sans-serif;
  background-color: #bcac9b;
  padding: 20px;
  margin: 0;
  h1 {
    text-align: center;
    color: #725752;
  }
  form {
    background-color: #ddc9b4;
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    margin: 0 auto;
    label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
      color: #725752;
      width: 200px;
    }
    input[type="text"],
    input[type="radio"] {
      margin-bottom: 10px;
      padding: 5px;
      border-radius: 3px;
      border: 1px solid #ccc;
      width: 100%;
      box-sizing: border-box;
    }
    input[type="radio"] {
      height: 15px;
    }
    input[type="submit"] {
      background-color: #333;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      width: 100%;
    }
    .girlGender,
    .boyGender,
    .petReason,
    .illnessReason,
    .extra-curricularReason,
    .otherReason {
      display: flex;
      flex-direction: row;
    }
  }
  p {
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    background-color: #725752;
  }
}
