body {
  font-family: Arial, sans-serif;
  background-color: #bcac9b;
  padding: 20px;
  margin: 0;
}
body h1 {
  text-align: center;
  color: #725752;
}
body form {
  background-color: #ddc9b4;
  padding: 20px;
  border-radius: 5px;
  max-width: 600px;
  margin: 0 auto;
}
body form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #725752;
  width: 200px;
}
body form input[type=text],
body form input[type=radio] {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}
body form input[type=radio] {
  height: 15px;
}
body form input[type=submit] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
}
body form .girlGender,
body form .boyGender,
body form .petReason,
body form .illnessReason,
body form .extra-curricularReason,
body form .otherReason {
  display: flex;
  flex-direction: row;
}
body p {
  text-align: center;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  background-color: #725752;
}